<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chess-roguelike-ios.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>48EABC76370E766AB8076142B1D6D8014F9F3B48</string>
				<key>dateExpires</key>
				<string>2026-02-20</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>695W828YNL.com.virtualcardboard.chessroguelike</string>
				<key>com.apple.developer.team-identifier</key>
				<string>695W828YNL</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>chess-roguelike-ios.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0cc1fcc8-103c-4a59-81b4-c7ecafecc65e</string>
				<key>dateExpires</key>
				<string>2026-02-20</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>695W828YNL</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
